
{% extends "AppBundle:Layout:templateadmin.html.twig" %}



{% block body %}

<h1>Gestions des catégories produits</h1>




<table class="table table-hover">

<thead>
<tr>
  <th>logo</th><th>Categorie</th><th>Commentaire</th><th>Date de création</th><th>Date de modification</th> <th>Modfication</th>
</tr>
</thead>
<tbody>

    {% for category in listCategories %}
    <tr>  
    	<td><img src="{{asset('uploads/images/category/'~category.image)}}" height="80px"  height="40px"/></td>
    	<td>{{ category.libelle }}</td>
      <td>{{ category.commentaire }}</td>
    	<td>{{ category.createdAt|date("d/m/Y\\ H:i") }}</td>
    	<td>{{ category.updateAt|date("d/m/Y \\ H:i") }}</td>
    	<td><a href="{{ path('update_category', {'id': category.id})}}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
           <a href="{{ path('delete_category', {'id': category.id})}}"><i class="fa fa-trash" aria-hidden="true"></i></a> 
       </td>
    </tr>
    {% endfor %}


</tbody>
</table>

<p> Formulaire</p>
<div class="well">

  {{ form(form) }}

</div>


{% endblock %}
