{% extends "AppBundle:Layout:templateadmin.html.twig" %}


{% block body %}

<h1>Gestions des tailles</h1>


<table class="table table-hover">

<thead>
<tr>
  <th>Tailles</th><th>Date de création</th><th>Date de modification</th> <th>Modfication</th>
</tr>
</thead>
<tbody>


    <tr>  <td>{{ Sizes.libelle }}</td><td>{{Sizes.createdAt|date("d/m/Y\\ H:i") }}</td> <td>{{ Sizes.updateAt|date("d/m/Y \\ H:i") }}</td><td>
           <a href="{{ path('delete_size', {'id': Sizes.id})}}"><i class="fa fa-trash" aria-hidden="true"></i></a> </td>   </tr>



</tbody>
</table>



<p> Formulaire</p>
<div class="well">

  {{ form(form) }}

</div>


{% endblock %}
