
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ asset('css/general.css') }}">
<link rel="stylesheet" href="{{ asset('js/user/css/bootstrap.css') }}">
      


 <script type="text/javascript" src="{{ asset('js/user/js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/user/js/bootstrap.js') }}"></script>
   <script type="text/javascript" src="{{ asset('js/user/js/npm.js') }}"></script>



</head>

<body>
<header>




{% block body %}{% endblock %}




</body>
</html>
