
{% extends "AppBundle:Layout:templateadmin.html.twig" %}



{% block body %}

<h1>Gestions des produits</h1>

<table class="table table-hover">

<thead>
<tr>
  <th>Nom du produit</th><th>taille</th><th>Quantité</th><th>Date de création</th><th>Date de modification</th> <th>Modfication</th>
</tr>
</thead>
<tbody>

    <tr>  <td>{{ sizeproduct.product.description }}</td><td>{{ sizeproduct.size.libelle }}</td><td>{{ sizeproduct.stock }}</td><td>{{ sizeproduct.createdAt|date("d/m/Y\\ H:i") }}</td> <td>{{ sizeproduct.updateAt|date("d/m/Y \\ H:i") }}</td>
      <td>
           <a href="{{ path('delete_size_product', {'id': sizeproduct.id})}}"><i class="fa fa-trash" aria-hidden="true"></i></a> </td>    </tr>



</tbody>
</table>



<p> Formulaire</p>
<div class="well">

  {{ form(form) }}

</div>


{% endblock %}
