
{% extends "AppBundle:Layout:templateadmin.html.twig" %}



{% block body %}

<h1>Gestions des commentaires</h1>



<table class="table table-hover">

<thead>
<tr>
  <th>Image du produit</th><th>Produit</th><th>Note</th><th>Commentaire</th><th>Date de création</th><th>Date de modification</th> <th>Modfication</th>
</tr>
</thead>
<tbody>

    <tr>
    <td><img src="{{asset('uploads/images/products/'~comment.product.image)}}" height="200px"  height="150px"/></td> 
      <td>{{ comment.product.description }}</td>
      <td>{{ comment.comment }}</td>
    <td>{{ comment.note }}</td>
      <td>{{ comment.createdAt|date("d/m/Y \\ H:i") }}</td>
      <td>{{ comment.updateAt|date("d/m/Y \\ H:i") }}</td>

            <td>
          

           <a href="{{ path('delete_comment', {'id': comment.id})}}"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer ce commentaire</a> 
        
         </td>    </tr>



</tbody>
</table>

<p> Formulaire</p>
<div class="well">

  {{ form(form) }}

</div>


{% endblock %}
